.navigation-section{
  color: white;
}

.navigation-container{
  display: flex;
  font-size: 1.5em;
}

.navigation-menu{
  display: flex;
  &-item{
    margin-left: 60px;
  }
}

.logo{
  margin-right: auto;
  max-width: 90px;
}

.logo img{
  width: 100%;
}
