.hero-section{
  background-color: #5352ed;
  width: 100vw;
  height: 100vh;
}

.hero-container{
  display: flex;
  align-items: center;
  height: 80vh;
}

.hero-text{
  color: $light-gray;
  margin-right: auto;

  h1{
    font-size: 4em;
  }

  h5{
    font-style: italic;
    font-weight: 200;
    font-size: 1em;
  }
}


.hero-button{
  border-radius: 5px;
  padding: 5px 15px;
}

.large-hero-letter{
  font-size: 10em;
}
