.hero-section{
  display: flex;
  margin-top: 90px;
}

.hero-text{
  margin-right: auto;
}
.hero-text h1{
  margin-top: 0
}

.large-hero-letter{
  font-size: 10em;
  transform: perspective(400px) rotateY(0deg);
  &:hover{
    transform: perspective(400px) translateZ(150px) rotateY(180deg);
  }
}
