
.portfolio-section{
text-align: center;
}

.portfolio-content img{

  width: 80%;
}

.projects-container{
  width: 85%;
}

.project-container-2, .project-container-4{
margin-left: auto;
}

.portfolio-content div{
  display: inline-block;
}
