.skills-section{
  background-color: #dee2e8;
  padding: 5em 0;
  color: #5e5e66;
}

.skills-main-container{
  display: flex;
}

.skills-background-word{
  -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari 3-8 */
    transform: rotate(20deg);
    font-size: 12em;
    color: rgba(255, 255, 255,0.4);
    font-family: 'Courgette';
}

.skills-title, .skills-knowledge-text{
  text-align: center;
}
.skills-container-right{
  border: 1px $dark-purple solid;
  margin-left: auto;
}

.skills-list{
  display: flex;
  line-height: 28px;
}

.list-1{
  margin-right: auto;
  padding-left: 0;
}
